



.Raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;

}
  .header{
    background-image: url(../images/Hero-bg.png);
     width: 100;
     height: 698px;
     gap: 158px;
  }

 /* navbar styles */
 .navbar{
    display: flex;
    justify-content: space-around;
    color: blue;
    height: 50px;
    align-items: center;

}

  
.Log-in-button{
    color: white;
    background-color: #4E47FF;
    font-weight:bold ;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    
}

/* banner styles */
 .banner-title{
    display: flex;
    justify-content: center;
   color: #252432; 
   font-size: 65px;
   font-weight: bold;
 }
  
 .banner{
    display: flex;
    justify-content: center;

  .banner-content{
    width: 905px;
    height: 237px;
    gap: 37px;
  }

 }

 .bg-image{
    width: 1440px;
    height: 698px;
 }
  
 .action{
  font-weight: bold;
  font-size: 42px;
 }


 .wc-mini{
display: flex;
align-items: flex-start;
justify-content: right;
gap: 40px;
padding: 20px;
max-width: 1200px;
margin: auto;
}


.joined-box{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lavenderblush;

.first{
  color: #4E47FF;
  font-weight: bold;
}

.second{
 color: #4E47FF;
  font-weight: bold;
}

.third{
 color: #4E47FF;
  font-weight: bold;
}